<h1>Nos gossips !</h1>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Anonymous Gossiper</td>
            <td>Content</td>
            <td>Nombre de commentaires</td>
        </tr>
    </thead>
    <tbody>
    <% @gossips.each do |gossip| %>
    <tr>
        <td><%= gossip.id %></td>
        <td><%= gossip.anonymous_gossiper %></td>
        <td><%= gossip.content %></td>
                <td>
                    <%= gossip.comments.count %>
                </td>
        <td>
            <a href="gossips/<%=gossip.id%>" class="btn btn-info">Voir le potin</a>
            <a href="gossips/<%=gossip.id%>/edit" class="btn btn-primary">Éditer</a>
            <a href="gossips/<%=gossip.id%>/delete" class="btn btn-danger">Supprimer</a>
        </td>

    </tr>
    <% end %>
    </tbody>
</table>

<p>
    <a href="gossip/new" class="btn btn-success">Créer ton nouveau gossip !</a>
</p>




